/build/
.DS_Store
clangCallHierarchy.xcodeproj/project.xcworkspace/xcuserdata/sogou.xcuserdatad/UserInterfaceState.xcuserstate
clangCallHierarchy.xcodeproj/xcuserdata/sogou.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
clangCallHierarchy.xcodeproj/project.xcworkspace/xcuserdata/
BuildArguments.txt
