<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>-x</string>
    <string>objective-c</string>
    <string>-arch</string>
    <string>x86_64</string>
    <string>-std=gnu99</string>
    <string>-fobjc-arc</string>
    <string>-fmodules</string>
    <string>-O0</string>
    <string>-DDEBUG=1</string>
    <string>-DCOCOAPODS=1</string>
    <string>-DOBJC_OLD_DISPATCH_PROTOTYPES=0</string>
    <string>-isysroot</string>
    <string>/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator11.0.sdk</string>
    <string>-iquote</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/SogouInput.build/Debug-iphonesimulator/BaseKeyboard.build/com.sogou.sogouinput.BaseKeyboard-generated-files.hmap</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/SogouInput.build/Debug-iphonesimulator/BaseKeyboard.build/com.sogou.sogouinput.BaseKeyboard-own-target-headers.hmap</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/SogouInput.build/Debug-iphonesimulator/BaseKeyboard.build/com.sogou.sogouinput.BaseKeyboard-all-non-framework-target-headers.hmap</string>
    <string>-ivfsoverlay</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/SogouInput.build/all-product-headers.yaml</string>
    <string>-iquote</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/SogouInput.build/Debug-iphonesimulator/BaseKeyboard.build/com.sogou.sogouinput.BaseKeyboard-project-headers.hmap</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/Debug-iphonesimulator/include</string>
    <string>-I/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator11.0.sdk/usr/include/libxml2</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/MJRefresh</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/Reachability</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/TouchXML</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/YYCache</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/YYImage</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/YYWebImage</string>
    <string>-ISharedCode/protobuf</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/SogouInput.build/Debug-iphonesimulator/BaseKeyboard.build/DerivedSources/x86_64</string>
    <string>-I/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/SogouInput.build/Debug-iphonesimulator/BaseKeyboard.build/DerivedSources</string>
    <string>-F/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/build/Debug-iphonesimulator</string>
    <string>-F/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/YYImage/Vendor</string>
    <string>-F/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/SharedCode/CrashReport</string>
    <string>-isystem</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public</string>
    <string>-isystem</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/MJRefresh</string>
    <string>-isystem</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/Reachability</string>
    <string>-isystem</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/TouchXML</string>
    <string>-isystem</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/YYCache</string>
    <string>-isystem</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/YYImage</string>
    <string>-isystem</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/Pods/Headers/Public/YYWebImage</string>
    <string>-include</string>
    <string>/Users/sogou/bsl/SogouInput/SogouInput_4.9.0_new/BaseKeyboard/BaseKeyboard.pch</string>
</array>
</plist>
